
* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: hsl(225, 100%, 96%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
}

#main {
    width: 25%;
    height: 580px;
    border-radius: 20px;
    font-size: 11px; 
    text-align: center;
    background-color: white;
    margin-top: 75px;
}

.image1 {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.heading {
    font-weight: 700;
    margin-top: 40px;
}

.para {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    margin: 20px 45px 0 45px;
    font-weight: 500;
}

.billing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 96%);
    margin: 20px 35px 0 35px;
    height: 70px;
    padding: auto;
    border-radius: 10px;
    font-size: 13px;
}

.link1 {
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    margin: 0 0 0 80px;
}

.button1 {
    margin: 30px 35px 0 35px;
    height: 40px;
    min-width: 310px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: bold;
}

.link2 {
    margin: 35px 0 0 0;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 12px;
}